@page
@model Assignment2.Pages.Products.IndexModel

@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">
        Create
        <i class="fa fa-plus"></i>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
                @if (item.ImageUrl != null)
                {
                    <td>
                        <img src="~/images/@item.ImageUrl" alt="image" style="width:36px;" class="ml-2" />
                    </td>
                } else
                {
                    <td></td>
                }
                <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-success">
                    <i class="fa fa-pen"></i>    
                </a>
                <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-secondary">
                    <i class="fa fa-eye"></i>    
                </a>
                <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                </a>
                <button type="button" class="btn btn-primary" onclick="handleClick(@item.ID)">
                    <i class="text-white fa fa-thumbs-up"></i>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        function handleClick(id) {
            $.ajax({
                type: "POST",
                url: "/Products/Index?handler=ProcessData",
                data: { id: id },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function(res) {
                    console.log(res)
                    $("body").load("/Products")
                },
                error: function(xhr, status, err) {
                    console.log(status + ': ' + err);
                }
            });
        }
    </script>
}
